{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "doble-seis-6788b",
    "storage_bucket": "doble-seis-6788b.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT_NUMBER:android:YOUR_APP_ID",
        "android_client_info": {
          "package_name": "com.domino.score.domino_score"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "PASTE_API_KEY_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
